@keyframes wiggle
    $i: 1
    @while $i <= 100
        #{$i}%
            transform: translate(#{random(4)}px, #{random(4)}px) rotate(#{random(10) - 5}deg)
        $i: $i + random(17)

@keyframes points
    50%
        opacity: 0
        transform: scale(0.7) translateY(2px)