/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
// @mixin respond-to($breakpoint)
//     $raw-query: map-get($breakpoints, $breakpoint)
// @if $raw-query
//     $query:if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query))
//     @media #{$query}
//         @content
// @else
//     @error 'No value found for `#{$breakpoint}`. '+ 'Please make sure it is defined in `$breakpoints` map.'

=gradient ($gd-color-1, $gd-color-2)
    background: linear-gradient(45deg, $gd-color-1, $gd-color-2)
    background-size: 100%
    -webkit-background-clip: text
    -moz-background-clip: text
    -webkit-text-fill-color: transparent
    -moz-text-fill-color: transparent