//mixins pour les dégradés
=gradient ($gd-color-1, $gd-color-2)
    background: linear-gradient(45deg, $gd-color-1, $gd-color-2)
    background-size: 100%
    -webkit-background-clip: text
    -moz-background-clip: text
    -webkit-text-fill-color: transparent
    -moz-text-fill-color: transparent

//mixins pour les menus de la page d'accueil
=menus-auto($menus)
    @each $nm-menu, $menu in $menus
    // pour chaque menu situé dans la map menus, prendre le nom de menu (clef "nm-menu") et appliquer le menu aux propriétés (clef "menu") faisant joeur ses valeurs (ex : color-bg)
    // rappel
    // $lanote: (color-bg: rgb(247,224,220), color-1: rgb(56,22,26), color-2: rgb(56,22,26), font-title: "Devonshire", font-body: "Segoe Print", lighten-sbttle: 0%, lenght-title: 134px)
    // $menus: (lanote: $lanote, lechic: $lechic, ledelice: $ledelice, lapalette: $lapalette) cette donc la map menus(nm-menu: menu)
        &__#{$nm-menu}
            background-color: map-get($menu, color-bg)
            h2
                font-family: map-get($menu, font-title)
                +gradient(map-get($menu, color-1), map-get($menu, color-2))
            p
                font-family: map-get($menu, font-body)
                color: lighten(map-get($menu, color-1), map-get($menu, lighten-sbttle))

//mixins
=mq-mobileS
    @media screen and (max-width: map-get($breakpoints, mobileS))
        @content

=mq-mobileM
    @media screen and (max-width: map-get($breakpoints, mobileM))
        @content

=mq-mobileL
    @media screen and (max-width: map-get($breakpoints, mobileL))
        @content

=mq-tablet
    @media screen and (max-width: map-get($breakpoints, mobiletablet))
        @content

=mq-special($mq-special: $initial-model)
    @media screen and (max-width: $mq-special)
        @content