$primary-color: #589d88
$secundary-color: #fccb45
$main-font: "Montserrat"

$la_note_enchantee: rgb(247,224,220), "Devonshire", "Segoe Print", rgb(56,22,26)
$le_chic_a_la_francaise: rgb(253, 245, 253), "Kurale", "Casus Pro"
$le_delice_des_papilles: rgb(249, 249, 249), "Dancing Script", "Segoe Print"
$la_palette_du_gout: rgb(253, 255, 253), "Kaushan Script", "Segoe Print"