//VARIBALES GLOBALES
$bg-color: #589d88
$txt-color: #fccb45
$main-font: "Montserrat"

//VARIABLES POUR CHAQUE MENUS / CARTES
//variables propres aux menus des différents restaurants
$lanote: (color-bg: rgb(247,224,220), color-1: rgb(56,22,26), color-2: rgb(56,22,26), font-title: "Devonshire", font-body: "Segoe Print", lighten-sbttle: 0%, lenght-title: 134px)
$lechic: (color-bg: rgb(253, 245, 253), color-1: rgb(214,140,54), color-2: rgb(134,99,245), font-title: "Kurale", font-body: "Casus Pro", lighten-sbttle: 0%, lenght-title: 232px)
$ledelice: (color-bg: rgb(249, 249, 249), color-1: rgb(0,47,210), color-2: rgb(57,138,243), font-title: "Dancing Script", font-body: "Segoe Print", lighten-sbttle: 10%, lenght-title: 193px)
$lapalette: (color-bg: rgb(253, 255, 253), color-1: rgb(84,143,59), color-2: rgb(204,252,143), font-title: "Kaushan Script", font-body: "Segoe Print", lighten-sbttle: 10%, lenght-title: 145px)
//
$menus: (lanote: $lanote, lechic: $lechic, ledelice: $ledelice, lapalette: $lapalette)

//MEDIA QUERIES
//variables pour les tailles d'écran (media queries). source : DevTool de GoogleChrome
$breakpoints: (tablet: 768px, mobileL: 425px, mobileM: 375px, mobileS: 320px)
//variables représentant la largeur initiale de la maquette
$initial-model: 700px

//VARIABLES SPECIALES
$lechic-gdt: (rgb(187,119,46), rgb(156,107,150), rgb(104,81,197))
$lanote-croche: (color-1: rgb(221,85,99), color-2: rgb(233,149,114))