@font-face
    // medium
    font-family: "Segoe Print"
    src: url('../font/SegoePrint/SegoePrint-Medium.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    // bold
    font-family: "Segoe Print"
    src: url('../font/SegoePrint/SegoePrint-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: bold

@font-face
    // bold
    font-family: 'Montserrat'
    src: url('../font/Montserrat/Montserrat-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: bold

@font-face
    // medium
    font-family: 'Montserrat'
    src: url('../font/Montserrat/Montserrat-Medium.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    // normal
    font-family: 'Helvetica Neue'
    src: url('../font/HelveticaNeue/HelveticaNeue-Bold-01.ttf') format('truetype')
    font-weight: normal
    font-style: normal

//variable
$primary-color: #589d88
$secundary-color: #fccb45
$main-font: "Montserrat"
// couleur fond, police titre, police sous-titre, couleur texte 1, couleur texte 2
$la_note_enchantee: rgb(247,224,220), "Devonshire", "Segoe Print", rgb(56,22,26)
$le_chic_a_la_francaise: rgb(248, 221, 246), "Kurale", "Abril Fatface"
$la_palette_du_gout: #ffffff, "Kaushan Script", "Segoe Print"
$le_delice_des_papilles: #eceeee, "Dancing Script", "Segoe Print"

body
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
    text-align: center
    color: $secundary-color
    font-family: $main-font, sans-serif
    a
        text-decoration: none
        color: inherit

header
    background-color: $primary-color
    color: $secundary-color
    h1
        margin: 2rem 0
        letter-spacing: -0.25rem
        font-size: 3rem
        font-weight: bold

main
    display: flex
    width: 80%
    margin: auto
    margin-bottom: 7rem
    margin-top: 1rem
    flex-direction: column
    align-items: center
    justify-content: center   

.menus
    width: 400px
    height: 400px
    box-shadow: 1px 1px 10px grey
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 20px
    font-size: 2rem
    &__la_note_enchantee
        background-color: nth($la_note_enchantee, 1)
        font-family: nth($la_note_enchantee, 2)
        color: nth($la_note_enchantee, 4)
        p
            font-family: nth($la_note_enchantee, 3)
    &__le_chic_a_la_francaise
        background-color: nth($le_chic_a_la_francaise, 1)
        font-family: nth($le_chic_a_la_francaise, 2)
        h2
            background-color: #f3ec78
            background: linear-gradient(22.5deg, #c57411, #6e4ccd)
            background-size: 100%
            -webkit-background-clip: text
            -moz-background-clip: text
            -webkit-text-fill-color: transparent
            -moz-text-fill-color: transparent
        p
            font-family: nth($le_chic_a_la_francaise, 3)
            color: #c57411
    &__le_delice_des_papilles
        background-color: nth($le_delice_des_papilles, 1)
        font-family: nth($le_delice_des_papilles, 2)
        h2
            background-color: #f3ec78
            background: linear-gradient(45deg, #0021db, #249df9)
            background-size: 100%
            -webkit-background-clip: text
            -moz-background-clip: text
            -webkit-text-fill-color: transparent
            -moz-text-fill-color: transparent
        p
            font-family: nth($la_palette_du_gout, 3)
            color: #249df9
    &__la_palette_du_gout
        background-color: nth($la_palette_du_gout, 1)
        font-family: nth($la_palette_du_gout, 2)
        h2
            background-color: #f3ec78
            background: linear-gradient(45deg, #3d923a, #bfff80)
            background-size: 100%
            -webkit-background-clip: text
            -moz-background-clip: text
            -webkit-text-fill-color: transparent
            -moz-text-fill-color: transparent
        p
            font-family: nth($la_palette_du_gout, 3)
            color: #3d923a
    h2
        font-weight: normal

.btn
    background-color: $primary-color
    border-radius: 1rem
    margin: 1.5rem
    padding: 0.5rem 2rem
    font-size: 1.75rem
    p
        margin: 0

.carte
    background-color: nth($la_note_enchantee, 1)
    font-family: nth($la_note_enchantee, 3)
    color: nth($la_note_enchantee, 4)
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2)
    width: 80%
    padding: 2rem 10%
    font-size: 0.70rem
    &__titre
        margin: auto
    &__header
        color: rgb(53, 53, 53)
        font-family: "Helvetica Neue"
        font-size: 1.25rem
    h2
        margin: 1rem
    h3
        margin: 0 0 1rem 0
        font-family: nth($la_note_enchantee, 2)
        font-size: 2rem
        font-weight: normal
        font-style: normal
    h4
        @extend h3
        font-size: 1.5rem
        margin: 0
    h5
        font-size: 1rem
        margin: 0
        font-weight: bold
    ul
        list-style: none
        padding-inline-start: 0
    li
        display: flex
        justify-content: space-between
        margin: 0.5rem
    span
        display: block
        font-family: "Segoe Print"
        font-weight: bold
    article
        margin-bottom: 3rem

footer
    @extend header
    width: 100%
    position: fixed
    display: flex
    justify-content: space-between
    bottom: 0
    font-size: 1.25rem
    font-weight: normal
    a
        padding: 1rem
// ce que j'ai appris
// 1 - les commentaires SASS en double slash = bcp de pbs