@import '../abstracts/variables'
@import '../abstracts/animations'

main
    flex-direction: column
    align-items: center
    margin-top: 1rem
    margin-bottom: 4rem
section
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 1rem -2rem

article
    overflow: hidden
    
.zoom
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    transition: transform 1s ease, opacity 1s ease
    &:hover
        transform: scale(1.4)
        opacity: 0.5

.croche
    width: 2rem

.menus
    width: 255px
    height: 400px
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2)
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    margin: 1rem
    h2
        font-weight: normal
        margin: 0
        font-size: 1.5rem
    p
        margin: 0
        margin-top: 1rem
        font-size: 1.5rem
    &__la_note_enchantee
        background-color: rgb(247,224,220)
        font-family: "Devonshire"
        color: rgb(56,22,26)
        p
            font-family: "Segoe Print"
    &__le_chic_a_la_francaise
        background-color: rgb(253, 245, 253)
        font-family: "Kurale"
        h2
            background: linear-gradient(45deg, rgb(214,140,54), rgb(134,99,245))
            background-size: 100%
            -webkit-background-clip: text
            -moz-background-clip: text
            -webkit-text-fill-color: transparent
            -moz-text-fill-color: transparent
        p
            font-family: "Casus Pro"
            color: #c57411
    &__le_delice_des_papilles
        background-color: rgb(249, 249, 249)
        font-family: "Dancing Script"
        h2
            background: linear-gradient(45deg, rgb(0,47,210), rgb(57,138,243))
            background-size: 100%
            -webkit-background-clip: text
            -moz-background-clip: text
            -webkit-text-fill-color: transparent
            -moz-text-fill-color: transparent
        p
            font-family: "Segoe Print"
            color: #249df9
    &__la_palette_du_gout
        background-color: rgb(253, 255, 253)
        font-family: "Kaushan Script"
        h2
            background: linear-gradient(45deg, #3d923a, #bfff80)
            background-size: 100%
            -webkit-background-clip: text
            -moz-background-clip: text
            -webkit-text-fill-color: transparent
            -moz-text-fill-color: transparent
        p
            font-family: "Segoe Print"
            color: #3d923a