@import '../abstracts/variables'
@import '../abstracts/mixins'
@import '../abstracts/animations'

main
    flex-direction: column
    align-items: center
    margin: 1rem auto 6rem auto
    +mq-mobileL
        width: 100%
        margin: 0
section
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 1rem -2rem
    +mq-mobileL
        margin: 1rem 1rem

.zoom
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    transition: transform 1s ease, opacity 1s ease
    &:hover
        transform: scale(1.4)
        opacity: 0.5

.croche
    width: 2rem

.menus
    width: 255px
    height: 400px
    overflow: hidden
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2)
    display: flex
    justify-content: center
    align-items: center
    font-size: 2rem
    margin: 1rem
    +mq-mobileS
        margin: 1rem 0
    h2
        font-weight: normal
        width: 180px
        margin: 0
        font-size: 1.5rem
    p
        margin: 0
        margin-top: 1rem
        font-size: 1.5rem
    &__la_note_enchantee
        background-color: map-get($lanote, color-bg)
        h2
            font-family: map-get($lanote, font-title)
            +gradient(map-get($lanote, color-1), map-get($lanote, color-2))
        p
            font-family: map-get($lanote, font-body)
            color: lighten(map-get($lanote, color-1), map-get($lanote, lighten-sbttle))
    &__le_chic_a_la_francaise
        background-color: map-get($lechic, color-bg)
        h2
            font-family: map-get($lechic, font-title)
            +gradient(map-get($lechic, color-1), map-get($lechic, color-2))
        p
            font-family: map-get($lechic, font-body)
            color: lighten(map-get($lechic, color-1), map-get($lechic, lighten-sbttle))
    &__le_delice_des_papilles
        background-color: map-get($ledelice, color-bg)
        h2
            font-family: map-get($ledelice, font-title)
            +gradient(map-get($ledelice, color-1), map-get($ledelice, color-2))
        p
            font-family: map-get($ledelice, font-body)
            color: lighten(map-get($ledelice, color-1), map-get($ledelice, lighten-sbttle))
    &__la_palette_du_gout
        background-color: map-get($lapalette, color-bg)
        h2
            font-family: map-get($lapalette, font-title)
            +gradient(map-get($lapalette, color-1), map-get($lapalette, color-2))
        p
            font-family: map-get($lapalette, font-body)
            color: lighten(map-get($lapalette, color-1), map-get($lapalette, lighten-sbttle))