@import '../abstracts/variables'
@import '../abstracts/mixins'
@import 'cartes'

$color-bg: $lanote-color-bg
$color-1: $lanote-color-1
$color-2: $lanote-color-1
$font-title: $lanote-font-title
$font-body: $lanote-font-body

.carte
    min-height: unset
    &__titre
        margin: 4rem 0
        .croche
            width: 3.5rem
    &__plats
        margin: 0 4rem
    &__rappel
        margin: 4rem 0
        .croche
            width: 2rem
    p
        margin: 0
    span
        font-weight: bold

.plat-titre
    .barre
        fill: $color-1
        
h5
    min-width: 167px
    font-size: 1rem
    &::after
        background: $lanote-color-1