@import '../abstracts/variables'
@import 'cartes'

.carte
    background-color: rgb(247,224,220)
    font-family: "Segoe Print"
    color: rgb(56,22,26)
    padding: 2rem 10%
    min-height: unset
    &__titre
        .croche
            width: 3.5rem
    &__rappel
        .croche
            width: 2rem
    p
        margin: 0
    span
        font-family: "Segoe Print"
        font-weight: bold

.plat-titre
    .barre
        fill: rgb(56,22,26)
h3
    font-family: "Devonshire"
h5
    min-width: 167px
    font-size: 1rem
    &::after
        background: rgb(56,22,26)