@import '../abstracts/variables'
@import '../abstracts/mixins'
@import 'cartes'

.carte
    +carte($lanote)
    &__titre
        .croche
            width: 3.5rem
    &__rappel
        font-family: map-get($lanote, font-title)
        font-size: 2rem
        .croche
            width: 2rem
    li
        margin: 0.5rem 0
    span
        font-size: 0.75rem
        font-weight: bold

// soulignement titre
h5
    &::after
        background: map-get($lanote, color-1)

// barres d'ornement
.plat-titre
    .barre
        fill: map-get($lanote, color-1)
        &__gauche
            margin-left: 3rem
            +mq-mobileL
                margin-left: 0.5rem
        &__droite
            margin-right: 3rem