@import '../abstracts/variables'
@import '../abstracts/mixins'

.carte
    +carte($lapalette)
    color: black
    letter-spacing: -0.05rem
    h3
        font-size: 3.75rem
        white-space: initial

// soulignement titre
h5
    &::after
        +gradient-underline(map-get($lapalette, color-1), map-get($lapalette, color-2))

// barres d'ornement
.barre
    &__droite
        transform: scaleX(-1)