@use '../abstracts/variables'
@use '../abstracts/mixins'
@use 'cartes'

$color-bg: $lechic-color-bg
$color-1: $lechic-color-1
$color-2: $lechic-color-2
$font-title: $lechic-font-title
$font-body: $lechic-font-body

.barre   
    &__droite
        transform: scaleX(-1)
    &--orange
        fill: rgb(187,119,46)
    &--bleu
        fill: rgb(156,107,150)
    &--violet
        fill: rgb(104,81,197)

.carte
    font-size: 0.75rem
    &__titre
        margin-top: 6rem
    &__plats
        margin: 1rem 0 8rem 0
    article
        padding: 0 1rem
        margin-bottom: 4rem
        &:nth-child(1)
            color: rgb(187,119,46)
        &:nth-child(2)
            color: rgb(156,107,150)
        &:nth-child(3)
            color: rgb(104,81,197)
    span
        font-size: 1.1rem
    ul
        margin: 0 3rem
    li
        margin: 1rem 0
    h3
        margin-bottom: 5rem
        +gradient($lechic-color-1,$lechic-color-2)
    h5
        min-width: 232px
        letter-spacing: 0.05rem
        font-size: 1rem
        padding: 0 0.2rem

article h5     
    &:nth-child(1)
        &::after
            background: rgb(187,119,46)
    &:nth-child(2)
        &::after
            background: linear-gradient(45deg, $lechic-color-1, $lechic-color-2)
            background-size: 100%
            -webkit-text-fill-color: transparent
            -moz-text-fill-color: transparent
    &:nth-child(3)
        &::after
            background: #d2009e
        