@keyframes wiggle {
  0% {
    transform: translate(1px, 2px) rotate(2deg); }
  15% {
    transform: translate(2px, 4px) rotate(-2deg); }
  23% {
    transform: translate(1px, 1px) rotate(1deg); }
  30% {
    transform: translate(1px, 1px) rotate(4deg); }
  46% {
    transform: translate(1px, 1px) rotate(3deg); }
  64% {
    transform: translate(1px, 1px) rotate(6deg); }
  77% {
    transform: translate(1px, 1px) rotate(1deg); }
  85% {
    transform: translate(1px, 1px) rotate(-1deg); }
  100% {
    transform: translate(1px, 1px) rotate(-3deg); } }
@keyframes points {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(2px); } }
main {
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 4rem; }

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem -2rem; }

article {
  overflow: hidden; }

.zoom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 1s ease, opacity 1s ease; }
  .zoom:hover {
    transform: scale(1.4);
    opacity: 0.5; }

.croche {
  width: 2rem; }

.menus {
  width: 255px;
  height: 400px;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 1rem; }
  .menus h2 {
    font-weight: normal;
    margin: 0;
    font-size: 1.5rem; }
  .menus p {
    margin: 0;
    margin-top: 1rem;
    font-size: 1.5rem; }
  .menus__la_note_enchantee {
    background-color: #f7e0dc;
    font-family: "Devonshire";
    color: #38161a; }
    .menus__la_note_enchantee p {
      font-family: "Segoe Print"; }
  .menus__le_chic_a_la_francaise {
    background-color: #fdf5fd;
    font-family: "Kurale"; }
    .menus__le_chic_a_la_francaise h2 {
      background-color: #f3ec78;
      background: linear-gradient(22.5deg, #c57411, #6e4ccd);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    .menus__le_chic_a_la_francaise p {
      font-family: "Abril Fatface";
      color: #c57411; }
  .menus__le_delice_des_papilles {
    background-color: #f9f9f9;
    font-family: "Dancing Script"; }
    .menus__le_delice_des_papilles h2 {
      background-color: #f3ec78;
      background: linear-gradient(45deg, #0021db, #249df9);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    .menus__le_delice_des_papilles p {
      font-family: "Segoe Print";
      color: #249df9; }
  .menus__la_palette_du_gout {
    background-color: #fdfffd;
    font-family: "Kaushan Script"; }
    .menus__la_palette_du_gout h2 {
      background-color: #f3ec78;
      background: linear-gradient(45deg, #3d923a, #bfff80);
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent; }
    .menus__la_palette_du_gout p {
      font-family: "Segoe Print";
      color: #3d923a; }

/*# sourceMappingURL=home.css.map */
